<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
      <h2 class="text-2xl tracking-tighter font-light lg:text-4xl text-black">
        A typical example
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        Let's assume you're a startup in need of branding and a website, but
        your budget isn't sufficient to hire a full design and development
        agency. What we would do is start by creating several logo proposals in
        the initial days, then move on to corporate identity and branding. Once
        that's finalized, we proceed to website design and development.
        Throughout the process, we collaborate closely with you to ensure the
        end result aligns perfectly with your needs. This entire process
        typically spans about three weeks. In the final week of the month, we
        can craft social media posts, providing you with a comprehensive package
        for your startup. Should you require more advanced features like a
        webshop or a custom CRM system, we're open to discussing those options
        as well. Ultimately, our approach offers better value for your money
        compared to hiring an expensive team or attempting to handle everything
        in-house, especially if your team lacks certain skills.
        <br>
        <br>
        The above mentioned example assumes you choose the Design + Dev subscription.
      </p>
    </div>
  </div>
</section>
