<section>
  
  <div class="px-8 md:px-12  max-w-2xl mx-auto">
    <div class="grid grid-cols-2 gap-px rounded-3xl overflow-hidden sm:mx-0 ">
      <div class=" px-0 py-0 sm:px-1 sm:py-1 items-center flex bg-white">
        <img
        class="max-h-12 w-full object-contain grayscale "
          src="/conceptos-logo.svg"
          alt="Transistor"
          width={544}
          height={125}
        />
      </div>
      <div class=" px-3 py-5 sm:px-3 sm:py-8 items-center flex bg-white">
        <img
          class="max-h-12 w-full object-contain grayscale "
          src="/meibuero-logo.svg"
          alt="Reform"
          width={544}
          height={125}
        />
      </div>

      <div class=" px-3 py-5 sm:px-3 sm:py-8 items-center flex bg-white">
        <img
        class="max-h-12 w-full object-contain grayscale "
          src="/mathe-logo.svg"
          alt="Laravel"
          width={544}
          height={125}
        />
      </div>
      <div class=" px-3 py-5 sm:px-3 sm:py-8 items-center flex bg-white">
        <img
        class="max-h-12 w-full object-contain grayscale "
          src="/willapp-logo.svg"
          alt="Laravel"
          width={544}
          height={125}
        />
      </div>
    </div>
  </div>
</section>
